.head{
    height:100px;

    background-color:black	;
}

.margin{
    margin-top:30px;
}

.logo{
    padding-left:50px;
}

.content{
    background-image:url("https://1.bp.blogspot.com/-Eth9MBY5sQo/XNPAKaQoZKI/AAAAAAAAp5s/R9b4qMo0610i8BKN9DAd69WbDe-4WZZRgCLcBGAs/s1600/Exotour_B2_01.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:1000px;

}
.tableContent{
    max-height: 1000px;
    overflow: scroll;
}

.margintext{
    margin-top:35px;
    font-size:20px;
}

.foot{
    height:100px;
    background-color:black	;
}

#formContainer{
    display:none;
}

.offsetdown{
    margin-top:400px;
    font-size:80px;
}